body {
  
  background-image: url(/11.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
    }
  
    .hero{
     
     
      position: relative;
      padding: 30px;
     
    }
  
   
    nav :hover {
      color: rgba(188, 109, 185, 0.993) !important;
      text-decoration: none;
    }
  
    @media (min-width:500px) and (max-width:800px){
      #box-1{
        display: block;
        background-color: antiquewhite;
      }
    }